<div class="container">
  <div class="row justify-content-center mt-2">
    <div class="col-md-12">
      <!-- Voreinstellungen -->
      <div class="mb-3">
        <app-dart-scoreboard-preset
          *ngIf="!gameStartedData"
          (gameStarted)="receiveGameStarted($event)"
        ></app-dart-scoreboard-preset>
        <app-dart-board
          *ngIf="gameStartedData"
          [players]="gameStartedData.players"
          [mode]="gameStartedData.mode"
          [difficulty]="gameStartedData.difficulty"
        ></app-dart-board>
      </div>
    </div>
  </div>
</div>
<footer *ngIf="!gameStartedData">
  © FlayZ (Pierre Brandtner) 2024 - Dart Scorer Version 1.0.0
</footer>
