<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center">Spielauswahl</h1>
      <div class="row mt-5">
        <div class="col-md-6 mb-3">
          <a routerLink="/dart" class="btn btn-primary w-100">
            <i class="fa-regular fa-circle"></i> Dart
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a routerLink="/footballLeague" class="btn btn-primary w-100">
            <i class="fa-regular fa-futbol"></i> Fifa League
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
