<div class="card">
  <div class="card-body">
    <h3 class="card-title">Voreinstellungen</h3>
    <button class="btn btn-primary" (click)="onAddTeam(teamName.value)">
      Team Hinzufügen
    </button>
    <button class="btn btn-primary" (click)="onRemoveTeam(teamName.value)">
      Team Löschen
    </button>
    <button class="btn btn-success" (click)="onPresetsDone()">Start</button>
    <button class="btn btn-danger" (click)="onReset()">Reset</button>
    <input
      type="text"
      class="form-control mt-3"
      #teamName
      placeholder="Teamname"
    />

    <p class="mt-3">Liga-Teilnehmer:</p>
    <ul class="mt-3">
      <li *ngFor="let team of teams">
        {{ team.name }}
      </li>
    </ul>
  </div>
</div>
